<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <section class="section">
        <div class="container">
            <div id="slider">
                <figure>
                    <img src="/images/banner.jpg">
                    <img src="/images/1.jpg">
                    <img src="/images/3.jpg">
                    <img src="/images/CCIS.png">
                    <img src="/images/4.jpg">
                </figure>
            </div>
            <div class="content">

                <h1 class="title is-1">
                    Mission
                </h1>
                <ol type="1">
                    <li>To provide the learning environment that would transform our students into globally competitive
                        professionals;</li>
                    <li>To produce social wealth from the generation of new knowledge;</li>
                    <li>To contribute to the solution of industry’s and society’s problems by the expert application of
                        knowledge</li>
                </ol>
                <h1 class="title is-1">
                    Vision
                </h1>
                <p class="ContentOneColumn">Malayan Colleges Laguna shall be a global steeple of excellence in
                    professional education and research.</p>
                <h1 class="title is-1">
                    Colleges
                </h1>
                <h1 class="title is-4">College of Arts and Science</h1>
                <ol type="1">
                    <li>B. Multimedia Arts</li>
                    <li>B.A Brodcasting</li>
                </ol>
                <h1 class="title is-4">College of Computer and Information Science</h1>
                <ol type="1">
                    <li>B.S Information Technology</li>
                    <li>B.S Computer Science</li>
                </ol>
                <h1 class="title is-4">Mapúa-PTC College of Maritime Education and Training</h1>
                <ol type="1">
                    <li>B.S Marine Engineering</li>
                    <li>B.S Marine Transportation</li>
                </ol>
                <h1 class="title is-4">ET Yuchengco College of Business</h1>
                <ol type="1">
                    <li>B.S Hotel and Restaurant Management</li>
                    <li>B.S Entrepreneurship</li>
                </ol>
                <h1 class="title is-4">Mapúa Institute of Technology at Laguna</h1>
                <ol type="1">
                    <li>B.S Computer Engineering</li>
                    <li>B.S Electronics Engineering</li>
                </ol>
                <h1 class="title is-4">Senior High School</h1>
                <ol type="1">
                    <li>Academic Track</li>
                    <li>Technical-Vocational-Livelihood-Track</li>
                </ol>
            </div>

        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>BSIT</p>
                <p>Enrico T. Silva Jr. </p>
                <p>©2020 All Right Reserved</p>
            </div>
        </footer>
    </section>
    <%- include('../includes/scripts.ejs') %>
</body>

</html>