<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
             
               
                    <div class="column is-one-quarter">
                            <div class="card">
                                <div class="card-image">
                                        <figure class="image is-256x256">
                                                <img class="is-square" src="/images/CAS.png">
                                            </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="subtitle is-6"></p>
                                            <p class="title is-4">College of Arts and Science</p>
                                        </div>
                                    </div>
        
                                    <div class="content">
                                      
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item" href="/cas/home">
                                            <span class="icon">
                                                    <i class="mdi mdi-format-line-weight"></i>
                                            </span>
                                            <span>Visit</span>
                                        </a>
                                       
                                    </footer>
                                </div>
                            </div>
                        </div>
    

                <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                    <figure class="image is-256x256">
                                            <img class="is-square" src="/images/CCIS.png">
                                        </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="subtitle is-6"></p>
                                        <p class="title is-4">College of Computer and Information Science</p>
                                    </div>
                                </div>
    
                                <div class="content">
                                  
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item" href="/ccis/home">
                                        <span class="icon">
                                                <i class="mdi mdi-format-line-weight"></i>
                                        </span>
                                        <span>Visit</span>
                                    </a>
                                   
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-quarter">
                            <div class="card">
                                <div class="card-image">
                                        <figure class="image is-256x256">
                                                <img class="is-square" src="/images/CMET.png">
                                            </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="subtitle is-6"></p>
                                            <p class="title is-4">College of Maritime Education and Training</p>
                                        </div>
                                    </div>
        
                                    <div class="content">
                                      
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item" href="/cmet/home">
                                            <span class="icon">
                                                    <i class="mdi mdi-format-line-weight"></i>
                                            </span>
                                            <span>Visit</span>
                                        </a>
                                       
                                    </footer>
                                </div>
                            </div>
                        </div>
    

            </div>

            <div class="columns is-centered">
                    <div class="column is-one-quarter">
                      <div class="card">
                          <div class="card-image">
                                <figure class="image is-256x256">
                                        <img class="is-square" src="/images/ETYCB.png">
                                    </figure>
                          </div>
                          <div class="card-content">
                              <div class="media">
                                  <div class="media-content">
                                      <p class="subtitle is-6"></p>
                                      <p class="title is-4">ET Yuchengco College of Business</p>
                                  </div>
                              </div>
  
                              <div class="content">
                                
                              </div>
                              <footer class="card-footer">
                                  <a class="card-footer-item" href="/etycb/home">
                                      <span class="icon">
                                            <i class="mdi mdi-format-line-weight"></i>
                                      </span>
                                      <span>Visit</span>
                                  </a>
                              </footer>
                          </div>
                      </div>
                  </div>
                 
  
                  <div class="column is-one-quarter">
                          <div class="card">
                              <div class="card-image">
                                    <figure class="image is-256x256">
                                            <img class="is-square" src="/images/MITL.png">
                                        </figure>
                              </div>
                              <div class="card-content">
                                  <div class="media">
                                      <div class="media-content">
                                          <p class="subtitle is-6"></p>
                                          <p class="title is-4">Mapúa Institute of Technology at Laguna</p>
                                      </div>
                                  </div>
      
                                  <div class="content">
                                    
                                  </div>
                                  <footer class="card-footer">
                                      <a class="card-footer-item" href="/mitl/home">
                                          <span class="icon">
                                                <i class="mdi mdi-format-line-weight"></i>
                                          </span>
                                          <span>Visit</span>
                                      </a>
                                    
                                  </footer>
                              </div>
                          </div>
                      </div>
  
                      <div class="column is-one-quarter">
                              <div class="card">
                                  <div class="card-image">
                                        <figure class="image is-4by5">
                                                <img class="is-square" src="/images/shs.jpg">
                                            </figure>
                                  </div>
                                  <div class="card-content">
                                      <div class="media">
                                          <div class="media-content">
                                              <p class="subtitle is-6"></p>
                                              <p class="title is-4">Senior High School</p>
                                          </div>
                                      </div>
          
                                      <div class="content">
                                        
                                      </div>
                                      <footer class="card-footer">
                                            <a class="card-footer-item "href="/shs/home">
                                              <span class="icon">
                                                    <i class="mdi mdi-format-line-weight"></i>
                                              </span>
                                              <span>Visit</span>
                                          </a>
                                         
                                      </footer>
                                  </div>
                              </div>
                          </div>
      
  
              </div>
        </div>
    </section>
    <%- include('../includes/scripts.ejs') %>
</body>

</html>